@charset "utf-8";
/* CSS Document */

h1 {
	font-family: aclonica;
	font-style: normal;
	font-weight: 400;
}
#home div #introImg {
	width: 100%;
	border: 3px solid #FFFFFF;
	margin-left: -4px;
	-webkit-box-shadow: 2px 2px 2px #333333;
	box-shadow: 2px 2px 2px #333333;
}
